<!-- <form class="comment-form mb-5 gray-bg p-5" id="comment-form">
    <h3 class="mb-4 text-center">Leave a comment</h3>
    <div class="row">
        <div class="col-lg-12">
            <textarea class="form-control mb-3" name="comment" id="comment" cols="30" rows="5"
                placeholder="Comment"></textarea>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input class="form-control" type="text" name="name" id="name" placeholder="Name:">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input class="form-control" type="text" name="mail" id="mail" placeholder="Email:">
            </div>
        </div>
    </div>

    <input class="btn btn-primary" type="submit" name="submit-contact" id="submit_contact" value="Submit Message">
</form> -->

<!-- comment-form.component.html -->
<div class="comments-section mb-5">
    <!-- Display existing comments -->
  

    <!-- Comment form -->
    <form [formGroup]="commentForm" (ngSubmit)="onSubmit()" class="comment-form mb-5 gray-bg p-5">
        <h3 class="mb-4 text-center">Leave a comment</h3>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <textarea class="form-control mb-2" formControlName="comment" cols="30" rows="5"
                        placeholder="Comment" [ngClass]="{ 'is-invalid': submitted && f['comment'].errors }">
                    </textarea>
                    <div class="invalid-feedback" *ngIf="submitted && f['comment'].errors">
                        {{ getErrorMessage('comment') }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input class="form-control mb-2" type="text" formControlName="name" placeholder="Name:"
                        [ngClass]="{ 'is-invalid': submitted && f['name'].errors }">
                    <div class="invalid-feedback" *ngIf="submitted && f['name'].errors">
                        {{ getErrorMessage('name') }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input class="form-control mb-2" type="email" formControlName="email" placeholder="Email:"
                        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                    <div class="invalid-feedback" *ngIf="submitted && f['email'].errors">
                        {{ getErrorMessage('email') }}
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Submit Comment</button>
    </form>
</div>