<!-- 

    <div class="container mt-5">
        <div class="comment-area my-5">
            <h3 class="mb-4 text-center">2 Comments</h3>

            <div class="comment-area-box media">
                <img alt="" src="images/blog-user-2.jpg" class="img-fluid float-left mr-3 mt-2">
                <div class="media-body ml-4">
                    <h4 class="mb-0">Micle Harison</h4>
                    <span class="date-comm font-sm text-capitalize text-color"><i class="ti-time mr-2"></i>June 7,
                        2019</span>

                    <div class="comment-content mt-3">
                        <p>Lorem ipsum dolor sit amet, usu ut perfecto postulant deterruisset, libris causae volutpat at
                            est, ius id modus laoreet urbanitas. Mel ei delenit dolores.</p>
                    </div>

                    <div class="comment-meta mt-4 mt-lg-0 mt-md-0">
                        <a href="#" class="text-underline">Reply</a>
                    </div>
                </div>
            </div>

            <div class="comment-area-box media mt-5">
                <img alt="" src="images/blog-user-3.jpg" class="mt-2 img-fluid float-left mr-3">
                <div class="media-body ml-4">
                    <h4 class="mb-0">John Doe</h4>
                    <span class="date-comm font-sm text-capitalize text-color"><i class="ti-time mr-2"></i>June 7,
                        2019</span>

                    <div class="comment-content mt-3">
                        <p>Some consultants are employed indirectly by the client via a consultancy staffing company.
                        </p>
                    </div>

                    <div class="comment-meta mt-4 mt-lg-0 mt-md-0">
                        <a href="#" class="text-underline">Reply</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 -->


<div class="container mt-5">
    <div class="comment-area my-5">
        <h3 class="mb-4 text-center">{{ comments.length || 0 }} Comments</h3>

        <!-- Iterate through the comments array -->
        <div *ngFor="let comment of comments" class="comment-area-box media mt-5">
           
            <div class="media-body ml-4">
                <h4 class="mb-0">{{ comment.name }}</h4>
                <!-- <span class="date-comm font-sm text-capitalize text-color">
                    <i class="ti-time mr-2"></i>{{ comment.date | date: 'longDate' }}
                </span> -->

                <div class="comment-content mt-3">
                    <p>{{ comment.comment }}</p>
                </div>

                
            </div>
        </div>
    </div>
</div>