<app-admin-navbar></app-admin-navbar>
<div class="container dashboard-container">
    <div class="row g-4">
        <div class="col-lg-4 col-md-6">
            <div class="card dashboard-card">
                <div class="card-body">
                    <h5 class="card-title">Category</h5>
                    <p class="card-text">Manage categories and organize your content effectively.</p>
                    <a href="categories" class="btn">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card dashboard-card">
                <div class="card-body">
                    <h5 class="card-title">Post</h5>
                    <p class="card-text">Create and manage your posts seamlessly with powerful tools.</p>
                    <a href="posts" class="btn">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card dashboard-card">
                <div class="card-body">
                    <h5 class="card-title">Subscribers</h5>
                    <p class="card-text">Track your subscribers and build your audience effectively.</p>
                    <a href="#" class="btn">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card dashboard-card">
                <div class="card-body">
                    <h5 class="card-title">Comments</h5>
                    <p class="card-text">Engage with your audience by managing their comments.</p>
                    <a href="#" class="btn">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card dashboard-card">
                <div class="card-body">
                    <h5 class="card-title">My Profile</h5>
                    <p class="card-text">Update your profile information and manage account settings.</p>
                    <a href="#" class="btn">View Details</a>
                </div>
            </div>
        </div>
    <div class="col-lg-4 col-md-6">
        <div class="card dashboard-card">
            <div class="card-body">
                <h5 class="card-title">My Website</h5>
                <p class="card-text">Update your profile information and manage account settings.</p>
                <button (click)="navigateToProfile()" class="btn">Visit</button>
            </div>
        </div>
    </div>

    </div>
</div>