<!-- 
    <app-header></app-header>
  
      
    
    
<app-category-navbar></app-category-navbar> -->

<!-- <section class="section-padding">
 
    <div class="container">
        
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="category-item">
                    <div class="category-img">
                        <a href="blog-single.html"><img src="images/cat/cat-4.jpg" alt="" class="img-fluid w-100"></a>
                    </div>
                    <div class="content">
                        <a href="#" class="text-color text-uppercase font-sm letter-spacing font-extra">lifestyle</a>
                        <h4><a href="blog-single.html">Managing your time In 3 easy steps</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="category-item">
                    <div class="category-img">
                        <a href="blog-single.html"><img src="images/cat/cat-2.jpg" alt="" class="img-fluid w-100"></a>
                    </div>
                    <div class="content">
                        <a href="#" class="text-color text-uppercase font-sm letter-spacing font-extra">Fashion</a>
                        <h4><a href="blog-single.html">The Ultimate Summer Hat Guide</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="category-item">
                    <div class="category-img">
                        <a href="blog-single.html"><img src="images/cat/cat-3.jpg" alt="" class="img-fluid w-100"></a>
                    </div>
                    <div class="content">
                        <a href="#" class="text-color text-uppercase font-sm letter-spacing font-extra">Travel</a>
                        <h4><a href="blog-single.html">The trip you should take this fall</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->


<!-- <app-subscription-form></app-subscription-form> -->

<!-- <section class="section-padding pt-4">
    <div class="container">
        <div class="row">


            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <article class="post-grid mb-5">
                            <a class="post-thumb mb-4 d-block" href="blog-single.html">
                                <img src="images/fashion/img-1.jpg" alt="" class="img-fluid w-100">
                            </a>
                            <span
                                class="letter-spacing cat-name font-extra text-uppercase font-sm text-color ">Travel</span>
                            <h3 class="post-title mt-1"><a href="blog-single.html">Trip to California</a></h3>

                            <span class="text-muted letter-spacing text-uppercase font-sm">September 15, 2019</span>
                            <div class="post-content mt-4">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto
                                    quaerat
                                    necessitatibus tenetur ratione eius numquam!</p>

                                <a href="blog-single.html" class="btn btn-grey mt-3"> read more</a>
                            </div>
                        </article>


                        <article class="post-grid mb-5">
                            <a class="post-thumb mb-4 d-block" href="blog-single.html">
                                <img src="images/fashion/img-lg-2.jpg" alt="" class="img-fluid w-100">
                            </a>
                            <span
                                class="letter-spacing cat-name font-extra text-uppercase font-sm text-color ">Lifestyle</span>
                            <h3 class="post-title mt-1"><a href="blog-single.html">Ways To Reach Goals</a></h3>

                            <span class="text-muted letter-spacing text-uppercase font-sm">August 12, 2019</span>
                            <div class="post-content mt-4">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto
                                    quaerat
                                    necessitatibus tenetur ratione eius numquam!</p>
                                <a href="blog-single.html" class="btn btn-grey mt-3"> read more</a>
                            </div>
                        </article>

                        <article class="post-grid mb-5">
                            <a class="post-thumb mb-4 d-block" href="blog-single.html">
                                <img src="images/fashion/img-7.jpg" alt="" class="img-fluid w-100">
                            </a>
                            <span
                                class="letter-spacing cat-name font-extra text-uppercase font-sm text-color ">fashion</span>
                            <h3 class="post-title mt-1"><a href="blog-single.html">Bridal beauty span</a></h3>

                            <span class="text-muted letter-spacing text-uppercase font-sm">march 2, 2019</span>
                            <div class="post-content mt-4">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto
                                    quaerat
                                    necessitatibus tenetur ratione eius numquam!</p>
                                <a href="blog-single.html" class="btn btn-grey mt-3"> read more</a>
                            </div>
                        </article>

                        <article class="post-grid mb-5">
                            <span
                                class="letter-spacing cat-name font-extra text-uppercase font-sm text-color ">Lifestyle</span>
                            <h3 class="post-title mt-1"><a href="blog-single.html">Beautiful Arrangement of The
                                    Workplace</a></h3>

                            <span class="text-muted letter-spacing text-uppercase font-sm">September 12, 2019</span>
                            <div class="post-content mt-4">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto
                                    quaerat
                                    necessitatibus tenetur ratione eius numquam!</p>
                                <a href="blog-single.html" class="btn btn-grey mt-3"> read more</a>
                            </div>
                        </article>
                    </div>


                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <article class="post-grid mb-5">
                            <a class="post-thumb mb-4 d-block" href="blog-single.html">
                                <img src="images/fashion/img-lg-1.jpg" alt="" class="img-fluid w-100">
                            </a>
                            <span
                                class="letter-spacing cat-name font-extra text-uppercase font-sm text-color ">Explore</span>
                            <h3 class="post-title mt-1"><a href="blog-single.html">Lets explore more</a></h3>

                            <span class="text-muted letter-spacing text-uppercase font-sm">September 4, 2019</span>
                            <div class="post-content mt-4">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto
                                    quaerat
                                    necessitatibus tenetur ratione eius numquam!</p>
                                <a href="blog-single.html" class="btn btn-grey mt-3"> read more</a>
                            </div>
                        </article>

                        <article class="post-grid mb-5">
                            <a class="post-thumb mb-4 d-block" href="blog-single.html">
                                <img src="images/fashion/img-md-1.jpg" alt="" class="img-fluid w-100">
                            </a>
                            <span
                                class="letter-spacing cat-name font-extra text-uppercase font-sm text-color ">lifestyle</span>
                            <h3 class="post-title mt-1"><a href="blog-single.html">Feel Like Home</a></h3>

                            <span class="text-muted letter-spacing text-uppercase font-sm">September 15, 2019</span>
                            <div class="post-content mt-4">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto
                                    quaerat
                                    necessitatibus tenetur ratione eius numquam!</p>
                                <a href="blog-single.html" class="btn btn-grey mt-3"> read more</a>
                            </div>
                        </article>

                        <article class="post-grid mb-5">
                            <a class="post-thumb mb-4 d-block" href="blog-single.html">
                                <img src="images/fashion/img-lg-4.jpg" alt="" class="img-fluid w-100">
                            </a>
                            <span
                                class="letter-spacing cat-name font-extra text-uppercase font-sm text-color ">Travel</span>
                            <h3 class="post-title mt-1"><a href="blog-single.html">What Type of Traveller Are You?</a>
                            </h3>

                            <span class="text-muted letter-spacing text-uppercase font-sm">September 15, 2019</span>
                            <div class="post-content mt-4">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Magnam nesciunt architecto
                                    quaerat
                                    necessitatibus tenetur ratione eius numquam!</p>
                                <a href="blog-single.html" class="btn btn-grey mt-3"> read more</a>
                            </div>
                        </article>
                    </div>
                </div>

                <div class="pagination mt-5 pt-4">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#" class="active">1</a></li>
                        <li class="list-inline-item"><a href="#">2</a></li>
                        <li class="list-inline-item"><a href="#">3</a></li>
                        <li class="list-inline-item"><a href="#" class="prev-posts"><i class="ti-arrow-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <app-profile></app-profile>
            </div>
        </div>
    </div>
</section> -->

<!-- <app-footer></app-footer> -->




<div class="mb-7 pb-4">
    <app-header [categories]="categories"></app-header>
</div>

<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <!-- Post grid with pagination -->
                    <div class="col-lg-4 col-md-6 col-sm-6 mb-4" *ngFor="let post of paginatedPosts">
                        <article class="post-grid position-relative">
                            <!-- Featured badge -->
                            <div *ngIf="post.isFeatured" class="featured-badge">
                                <span class="text-dark font-weight-bold">Featured</span>
                            </div>

                            <a class="post-thumb mb-4 d-block p-3" [routerLink]="['/blog', post._id, userId]">
                                <img [src]="post.image" alt="" class="img-fluid w-100">
                            </a>

                            <div class="post-content-grid p-3">
                                <div class="label-date">
                                    <span class="month text-uppercase">{{ post.createdAt | date:'dd MMM yyyy' }}</span>
                                </div>
                                <span class="cat-name text-color font-sm font-extra text-uppercase">
                                    {{ post.category.category }}
                                </span>
                                <h3 class="post-title mt-2">
                                    <a [routerLink]="['/blog', post._id, userId]">{{ post.title }}</a>
                                </h3>
                                <p>{{ post.excerpt | limitWords:20 }}</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>

            <!-- Pagination -->
            <div class="m-auto text-center d-flex justify-content-center" *ngIf="posts.length > 0">
                <div class="pagination mt-5 pt-4">
                    <ul class="list-inline justify-content-center">
                        <!-- Previous button -->
                        <li class="list-inline-item">
                            <a href="javascript:void(0)" [class.disabled]="pagination.currentPage === 1"
                                (click)="previousPage()">
                                <i class="ti-arrow-left"></i>
                            </a>
                        </li>

                        <!-- Page numbers -->
                        <li class="list-inline-item" *ngFor="let page of pages">
                            <a href="javascript:void(0)" [class.active]="page === pagination.currentPage"
                                (click)="changePage(page)">
                                {{ page }}
                            </a>
                        </li>

                        <!-- Next button -->
                        <li class="list-inline-item">
                            <a href="javascript:void(0)"
                                [class.disabled]="pagination.currentPage === pagination.totalPages"
                                (click)="nextPage()">
                                <i class="ti-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer start -->
<footer class="footer-section bg-grey py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="footer-logo text-white">Revolve</h2>
                <ul class="list-inline footer-socials">
                    <li class="list-inline-item"><a href="#"><i class="ti-facebook mr-2"></i>Facebook</a></li>
                    <li class="list-inline-item"><a href="#"><i class="ti-twitter mr-2"></i>Twitter</a></li>
                    <li class="list-inline-item"><a href="#"><i class="ti-linkedin mr-2"></i>Linkedin</a></li>
                    <li class="list-inline-item"><a href="#"><i class="ti-pinterest mr-2"></i>Pinterest</a></li>
                    <li class="list-inline-item"><a href="#"><i class="ti-github mr-2"></i>Github</a></li>
                    <li class="list-inline-item"><a href="#"><i class="ti-instagram mr-2"></i>Instagram</a></li>
                    <li class="list-inline-item"><a href="#"><i class="ti-rss mr-2"></i>RSS</a></li>
                </ul>
            </div>

            <div class="col-md-12 text-center">
                <p class="copyright text-white">© Copyright 2025 - Revolve. All Rights Reserved. Distribution <a
                        class="text-white" href="https://themewagon.com">ThemeWagon</a></p>
            </div>
        </div>
    </div>
</footer>


