<div class="container" style="max-width: 70%;">
    <div class="card p-4 mb-4">
        <h4 class="card-title mb-3">{{ isEdit ? 'Update Category' : 'Add Category' }}</h4>
        <form [formGroup]="categoryForm" (ngSubmit)="handleCategorySubmit()">
            <div class="row g-3">
                <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="Enter category name"
                        formControlName="categoryName" required />
                </div>
                <div class="col-md-4 text-md-start text-center">
                    <button type="submit" class="btn btn-primary w-100" [disabled]="categoryForm.invalid">
                        {{ isEdit ? 'Update Category' : 'Add Category' }}
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="container dashboard-container" *ngIf="categories.length === 0">
        <p class="text-center">There are no categories added yet. Please add one.</p>
    </div>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-3">Category List</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="table-primary">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Category Name</th>
                            <th scope="col" class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let category of categories; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ category.name }}</td>
                            <td class="text-end">
                                <button class="btn btn-sm btn-warning me-2"
                                    (click)="editCategory(category._id, category.name)">
                                    Edit
                                </button>
                                <button class="btn btn-sm btn-danger" (click)="deleteCategory(category._id)">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p *ngIf="categories.length === 0" class="text-center mt-4">No categories added yet. Please add one!</p>
        </div>
    </div>
</div>